## Splink deduplication demo 

In this demo we de-duplicate a small dataset.

The purpose is to provide an end-to-end example of how to use the package

I print the output at each stage using `spark_dataframe.show()`.  This is for instructional purposes only - it degrades performance and shouldn't be used in a production setting.

## Step 1:  Imports and setup

The following is just boilerplate code that sets up the Spark session and sets some other non-essential configuration options

In [1]:
import pandas as pd 
pd.options.display.max_columns = 500
pd.options.display.max_rows = 100

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

In [2]:
import logging 
logging.basicConfig()  # Means logs will print in Jupyter Lab

# Set to DEBUG if you want splink to log the SQL statements it's executing under the hood
logging.getLogger("splink").setLevel(logging.INFO)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

In [3]:
from utility_functions.demo_utils import get_spark
spark = get_spark() # See utility_functions/demo_utils.py for how to set up Spark

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

## Step 2:  Read in data

In [4]:
# Changed to use S3 versus local filesystem so this works in an EMR Notebook
df = spark.read.parquet("s3://splink-emr-init-test/data/fake_1000.parquet")
df.show(5)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

+---------+----------+-------+----------+------+--------------------+-----+
|unique_id|first_name|surname|       dob|  city|               email|group|
+---------+----------+-------+----------+------+--------------------+-----+
|        0|    Julia |   null|2015-10-29|London| hannah88@powers.com|    0|
|        1|    Julia | Taylor|2015-07-31|London| hannah88@powers.com|    0|
|        2|    Julia | Taylor|2016-01-27|London| hannah88@powers.com|    0|
|        3|    Julia | Taylor|2015-10-29|  null|  hannah88opowersc@m|    0|
|        4|      oNah| Watson|2008-03-23|Bolton|matthew78@ballard...|    1|
+---------+----------+-------+----------+------+--------------------+-----+
only showing top 5 rows

## Step 3:  Configure splink using the `settings` object

Most of `splink` configuration options are stored in a settings dictionary.  This dictionary allows significant customisation, and can therefore get quite complex.  

ðŸ’¥ We provide an tool for helping to author valid settings dictionaries, which includes tooltips and autocomplete, which you can find [here](http://robinlinacre.com/splink_settings_editor/).

Customisation overrides default values built into splink.  For the purposes of this demo, we will specify a simple settings dictionary, which means we will be relying on these sensible defaults.

To help with authoring and validation of the settings dictionary, we have written a [json schema](https://json-schema.org/), which can be found [here](https://github.com/moj-analytical-services/splink/blob/master/splink/files/settings_jsonschema.json).

In [5]:
settings = {
    "link_type": "dedupe_only",
    "blocking_rules": [
        "l.first_name = r.first_name",
        "l.surname = r.surname",
        "l.dob = r.dob"
    ],
    "comparison_columns": [
        {
            "col_name": "first_name",
            "num_levels": 3,
            "term_frequency_adjustments": True
        },
        {
            "col_name": "surname",
            "num_levels": 3,
            "term_frequency_adjustments": True
        },
        {
            "col_name": "dob"
        },
        {
            "col_name": "city"
        },
        {
            "col_name": "email"
        }
    ],
    "additional_columns_to_retain": ["group"],
    "em_convergence": 0.01
}

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

In words, this setting dictionary says:
- We are performing a deduplication task (the other options are `link_only`, or `link_and_dedupe`)
- We are going generate comparisons subject to the blocking rules contained in the specified array
- When comparing records, we will use information from the `first_name`, `surname`, `dob`, `city` and `email` columns to compute a match score.
- For `first_name` and `surname`, string comparisons will have three levels:
    - Level 2: Strings are (almost) exactly the same
    - Level 1: Strings are similar 
    - Level 0: No match
- We will make adjustments for term frequencies on the `first_name` and `surname` columns
- We will retain the `group` column in the results even though this is not used as part of comparisons.  This is a labelled dataset and `group` contains the true match - i.e. where group matches, the records pertain to the same person
- Consider the algorithm to have converged when no parameter changes by more than 0.01 between iterations

## Step 4:  Estimate match scores using the Expectation Maximisation algorithm
Columns are assumed to be strings by default.  See the 'comparison vector settings' notebook for details of configuration options.

In [6]:
from splink import Splink

linker = Splink(settings, spark, df=df)
df_e = linker.get_scored_comparisons()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

## Step 5: Inspect results

In [7]:
# Inspect main dataframe that contains the match scores
cols_to_inspect = ["match_probability","unique_id_l","unique_id_r","group_l", "group_r", "first_name_l","first_name_r","surname_l","surname_r","dob_l","dob_r","city_l","city_r","email_l","email_r",]

df_e.toPandas()[cols_to_inspect].sort_values(["unique_id_l", "unique_id_r"]).head(10)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

      match_probability  unique_id_l  unique_id_r  group_l  group_r  \
2              0.985811            0            1        0        0
1              0.985811            0            2        0        0
0              0.999646            0            3        0        0
4              0.983115            1            2        0        0
3              0.916171            1            3        0        0
2290           0.027342            1           89        0       18
2289           0.027342            1          142        0       26
2288           0.027342            1          148        0       26
4821           0.792436            1          246        0       43
2287           0.039123            1          362        0       62

     first_name_l first_name_r surname_l surname_r       dob_l       dob_r  \
2          Julia        Julia       None    Taylor  2015-10-29  2015-07-31
1          Julia        Julia       None    Taylor  2015-10-29  2016-01-27
0          Julia        Julia       None    Taylor  2015-10-29  2015-10-29
4          Julia        Julia     Taylor    Taylor  2015-07-31  2016-01-27
3          Julia        Julia     Taylor    Taylor  2015-07-31  2015-10-29
2290       Julia       Chirla     Taylor    Taylor  2015-07-31  2006-06-28
2289       Julia        Harry     Taylor    Taylor  2015-07-31  2017-11-24
2288       Julia        Harry     Taylor    Taylor  2015-07-31  2017-09-01
4821       Julia      Harrison    Taylor   Joshua   2015-07-31  2015-07-31
2287       Julia          None    Taylor    Taylor  2015-07-31  1989-07-25

      city_l           city_r              email_l                 email_r
2     London           London  hannah88@powers.com     hannah88@powers.com
1     London           London  hannah88@powers.com     hannah88@powers.com
0     London             None  hannah88@powers.com      hannah88opowersc@m
4     London           London  hannah88@powers.com     hannah88@powers.com
3     London             None  hannah88@powers.com      hannah88opowersc@m
2290  London           London  hannah88@powers.com      mbrooks@booker.com
2289  London           London  hannah88@powers.com       coltonray@lee.com
2288  London           London  hannah88@powers.com       coltonray@lee.com
4821  London  Southend-on-Sea  hannah88@powers.com                    None
2287  London           London  hannah88@powers.com  wagnershane@landry.com

In [8]:
df_e.toPandas()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

      tf_adjusted_match_prob  match_probability  unique_id_l  unique_id_r  \
0                   0.999989           0.999646            0            3
1                   0.999566           0.985811            0            2
2                   0.999566           0.985811            0            1
3                   0.988398           0.916171            1            3
4                   0.997802           0.983115            1            2
...                      ...                ...          ...          ...
5706                0.999920           0.999920          984          985
5707                0.999884           0.999884          991          996
5708                0.987535           0.987535          991          994
5709                0.999998           0.999998          992          996
5710                0.999824           0.999824          992          994

     first_name_l first_name_r  gamma_first_name  \
0          Julia        Julia                  2
1          Julia        Julia                  2
2          Julia        Julia                  2
3          Julia        Julia                  2
4          Julia        Julia                  2
...           ...          ...               ...
5706        Laal          None                -1
5707         liL         Lily                  0
5708         liL         Lily                  0
5709         ily         Lily                  1
5710         ily         Lily                  1

      prob_gamma_first_name_non_match  prob_gamma_first_name_match  \
0                            0.472290                     0.567037
1                            0.472290                     0.567037
2                            0.472290                     0.567037
3                            0.472290                     0.567037
4                            0.472290                     0.567037
...                               ...                          ...
5706                         1.000000                     1.000000
5707                         0.526308                     0.363365
5708                         0.526308                     0.363365
5709                         0.001403                     0.069598
5710                         0.001403                     0.069598

      first_name_tf_adj surname_l surname_r  gamma_surname  \
0              0.970694      None    Taylor             -1
1              0.970694      None    Taylor             -1
2              0.970694      None    Taylor             -1
3              0.970694    Taylor    Taylor              2
4              0.970694    Taylor    Taylor              2
...                 ...       ...       ...            ...
5706           0.500000      Ball      None             -1
5707           0.500000     Young      None             -1
5708           0.500000     Young      Ynuo              0
5709           0.500000     Young      None             -1
5710           0.500000     Young      Ynuo              0

      prob_gamma_surname_non_match  prob_gamma_surname_match  surname_tf_adj  \
0                         1.000000                  1.000000         0.50000
1                         1.000000                  1.000000         0.50000
2                         1.000000                  1.000000         0.50000
3                         0.673685                  0.564559         0.19051
4                         0.673685                  0.564559         0.19051
...                            ...                       ...             ...
5706                      1.000000                  1.000000         0.50000
5707                      1.000000                  1.000000         0.50000
5708                      0.326083                  0.376637         0.50000
5709                      1.000000                  1.000000         0.50000
5710                      0.326083                  0.376637         0.50000

           dob_l       dob_r  gamma_dob  prob_gamma_dob_non_match  \
0     2015-10-29  2015-10-29          1                  0.031396
1     2015-10-29  2016-01-27          0                  0.968604
2     2015-10-29  2015-07-31          0                  0.968604
3     2015-07-31  2015-10-29          0                  0.968604
4     2015-07-31  2016-01-27          0                  0.968604
...          ...         ...        ...                       ...
5706  1992-04-02  1992-04-02          1                  0.031396
5707  1995-09-05  1995-09-05          1                  0.031396
5708  1995-09-05  1995-09-05          1                  0.031396
5709  1995-09-05  1995-09-05          1                  0.031396
5710  1995-09-05  1995-09-05          1                  0.031396

      prob_gamma_dob_match               city_l               city_r  \
0                 0.875362               London                 None
1                 0.124638               London               London
2                 0.124638               London               London
3                 0.124638               London                 None
4                 0.124638               London               London
...                    ...                  ...                  ...
5706              0.875362  Newcastle-upon-Tyne  Newcastle-upon-Tyne
5707              0.875362               London               London
5708              0.875362               London               London
5709              0.875362               London               London
5710              0.875362               London               London

      gamma_city  prob_gamma_city_non_match  prob_gamma_city_match  \
0             -1                    1.00000               1.000000
1              1                    0.14658               0.780896
2              1                    0.14658               0.780896
3             -1                    1.00000               1.000000
4              1                    0.14658               0.780896
...          ...                        ...                    ...
5706           1                    0.14658               0.780896
5707           1                    0.14658               0.780896
5708           1                    0.14658               0.780896
5709           1                    0.14658               0.780896
5710           1                    0.14658               0.780896

                    email_l                email_r  gamma_email  \
0       hannah88@powers.com     hannah88opowersc@m            1
1       hannah88@powers.com    hannah88@powers.com            1
2       hannah88@powers.com    hannah88@powers.com            1
3       hannah88@powers.com     hannah88opowersc@m            1
4       hannah88@powers.com    hannah88@powers.com            1
...                     ...                    ...          ...
5706  stacykelly@brown.info  stacykelly@brown.info            1
5707  wesleykidd@miller.com  wesleykidd@miller.com            1
5708  wesleykidd@miller.com                   None           -1
5709  wesleykidd@miller.com  wesleykidd@miller.com            1
5710  wesleykidd@miller.com                   None           -1

      prob_gamma_email_non_match  prob_gamma_email_match  group_l  group_r
0                       0.007089                0.894782        0        0
1                       0.007089                0.894782        0        0
2                       0.007089                0.894782        0        0
3                       0.007089                0.894782        0        0
4                       0.007089                0.894782        0        0
...                          ...                     ...      ...      ...
5706                    0.007089                0.894782      176      176
5707                    0.007089                0.894782      179      179
5708                    1.000000                1.000000      179      179
5709                    0.007089                0.894782      179      179
5710                    1.000000                1.000000      179      179

[5711 rows x 33 columns]

The `params` property of the `linker` is an object that contains a lot of diagnostic information about how the match probability was computed.  The following cells demonstrate some of its functionality

In [17]:
params = linker.params
params.probability_distribution_chart()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

alt.HConcatChart(...)

An alternative representation of the parameters displays them in terms of the effect different values in the comparison vectors have on the match probability:

In [18]:
# This references a chart that has been removed from Splink (Kenrick)
params.adjustment_factor_chart()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

'Params' object has no attribute 'adjustment_factor_chart'
Traceback (most recent call last):
AttributeError: 'Params' object has no attribute 'adjustment_factor_chart'

In [19]:
# If charts aren't displaying correctly in your notebook, you can write them to a file (by default splink_charts.html)
# This function by MoJ Analytical Services is not compatible with a distributed file system like S3
params.all_charts_write_html_file(filename="splink_charts.html", overwrite=True)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

[Errno 13] Permission denied: 'splink_charts.html'
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/splink/params.py", line 534, in all_charts_write_html_file
    with open(filename, "w") as f:
PermissionError: [Errno 13] Permission denied: 'splink_charts.html'

You can also generate a report which explains how the match probability was computed for an individual comparison row.  

Note that you need to convert the row to a dictionary for this to work

In [23]:
from splink.intuition import intuition_report
row_dict = df_e.toPandas().sample(1).to_dict(orient="records")[0]
print(intuition_report(row_dict, params))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

Initial probability of match (prior) = Î» = 0.4007764458656311

Comparison of first_name.  Values are:
first_name_l: Alfie
first_name_r: None
Comparison has 3 levels
ð›¾ for this comparison = gamma_first_name = -1
Amongst matches, m = P(ð›¾|match) = 1.0
Amongst non matches, u = P(ð›¾|non-match) = 1.0
Bayes factor = m/u = 1.0
New probability of match (updated belief): 0.4007764458656311

Comparison of surname.  Values are:
surname_l: Tyolr
surname_r: Taylor
Comparison has 3 levels
ð›¾ for this comparison = gamma_surname = 1
Amongst matches, m = P(ð›¾|match) = 0.058804191648960114
Amongst non matches, u = P(ð›¾|non-match) = 0.00023243666510097682
Bayes factor = m/u = 252.99017099309168
New probability of match (updated belief): 0.9941247826389082

Comparison of dob.  Values are:
dob_l: 2005-06-20
dob_r: 2005-06-20
Comparison has 2 levels
ð›¾ for this comparison = gamma_dob = 1
Amongst matches, m = P(ð›¾|match) = 0.8753615617752075
Amongst non matches, u = P(ð›¾|non-match) = 0.0313960500061512
Bayes factor = m/u = 27.88126409544208
New probability of match (updated belief): 0.9997880767863725

Comparison of city.  Values are:
city_l: London
city_r: London
Comparison has 2 levels
ð›¾ for this comparison = gamma_city = 1
Amongst matches, m = P(ð›¾|match) = 0.7808963060379028
Amongst non matches, u = P(ð›¾|non-match) = 0.14657972753047943
Bayes factor = m/u = 5.327450931954592
New probability of match (updated belief): 0.9999602136736931

Comparison of email.  Values are:
email_l: None
email_r: michellejackson@smith-trujillo.com
Comparison has 2 levels
ð›¾ for this comparison = gamma_email = -1
Amongst matches, m = P(ð›¾|match) = 1.0
Amongst non matches, u = P(ð›¾|non-match) = 1.0
Bayes factor = m/u = 1.0
New probability of match (updated belief): 0.9999602136736931

Final probability of match = 0.9999602136736931

# Use graphframes to resolve links into groups

In [21]:
from graphframes import GraphFrame


df_e.createOrReplaceTempView("df_e")
sql = """
select unique_id_l as id
from df_e
union
select unique_id_r as id
from df_e
"""
nodes = spark.sql(sql)

sql = """
select
unique_id_l as src,
unique_id_r as dst,
tf_adjusted_match_prob
from df_e
where tf_adjusted_match_prob > 0.99
"""
edges = spark.sql(sql)

g = GraphFrame(nodes, edges)

cc = g.connectedComponents()

cc.createOrReplaceTempView("cc")
df.createOrReplaceTempView("df")
sql = """
select cc.component as estimated_group, df.*
from cc
left join
df 
on cc.id = df.unique_id
order by group, estimated_group
"""
results = spark.sql(sql)
results.toPandas().head(30)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),â€¦

    estimated_group  unique_id first_name    surname         dob  \
0                 0          2     Julia      Taylor  2016-01-27
1                 0          0     Julia        None  2015-10-29
2                 0          1     Julia      Taylor  2015-07-31
3                 0          3     Julia      Taylor  2015-10-29
4                 4          6     Watson      Noah   2008-03-23
5                 4         11     Watson      Noah   2008-01-21
6                 4          8     Watson      Noah   2008-06-15
7                 4          5      Noah      Watson  2008-03-23
8                 4         10     Watson      Noah   2008-03-23
9                 4          4       oNah     Watson  2008-03-23
10                7          7      Noah      Watson  2008-02-05
11                9          9      Noah      Watson  2008-01-19
12               12         12      Noah        None  2008-03-23
13               13         13     Molly        Bell  2002-01-05
14               13         14      Moly        Bell  2002-01-05
15               15         15  Alexander    Amelia   1983-05-19
16               16         16    Amelia   Alexander  1983-05-19
17               17         18    Amelia   Alexander  1983-05-19
18               17         17    Amelia   Alexander  1983-04-30
19               17         19     lmeAi   Alexander  1983-05-19
20               20         20     Ol vri    ynnollC  1972-03-08
21               20         22       None   Connolly  1972-03-08
22               21         21    Oliver    Connolly  1972-03-08
23               23         26     Ollie    Thompson  1996-03-22
24               23         23       None   Thompson  1996-03-22
25               23         24   Thompson     Ollie   1996-03-22
26               25         25       None   Thompson  1995-12-18
27               27         30   Matilda      Harris  1983-03-03
28               27         27   Matilda       Hsrir  1983-04-30
29               27         28   Matilda        None  1983-04-30

            city                           email  group
0         London             hannah88@powers.com      0
1         London             hannah88@powers.com      0
2         London             hannah88@powers.com      0
3           None              hannah88opowersc@m      0
4           None  matthew78@ballard-mcdonald.net      1
5          Bolno   matthea78@bwllar-mcdonald.net      1
6         Bolton  matthew78@ballard-mcdonald.net      1
7         Bolton  matthew78@ballard-mcdonald.net      1
8         Bolton   matthbw78eallard-mcdonald.net      1
9         Bolton  matthew78@ballard-mcdonald.net      1
10         tolon  matthew78@ballard-mcdonald.net      1
11        Bolton                            None      1
12         Blotn                            None      1
13  Peterborough                            None      2
14  Peterborough    lricsaunders@sievaadams.info      2
15       Glasgow        ic-mpbell@allealewis.org      3
16        Glaogw                            None      3
17       Glasgow       icampbell@allen-lewis.org      3
18       Glasgow        icampbeal@lllen-lews.org      3
19       Glasgow       icampbell@allen-lewis.org      3
20      Plymouth        derekwilliams@norris.com      4
21       Plyohtu        derekwilliams@norris.com      4
22      Plymouth                            None      4
23         Leeds    jefferyduke@brown-alazar.org      5
24         Leeds   jefferyduke@brown-salazar.org      5
25          None   jefferyduke@brown-salazar.org      5
26         Leeds                            None      5
27        London            patricia47@davis.com      6
28        London             patrcio47@davis.cam      6
29        London            patricia47@davis.com      6